<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TimerJobDao">
    <resultMap id="BaseResultMap" type="com.model.TimerJob">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR"/>
        <result column="JOB_GROUP" property="jobGroup" jdbcType="VARCHAR"/>
        <result column="CRON_EXPRESSION" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="CLASS_NAME" property="className" jdbcType="VARCHAR"/>
        <result column="JOB_DESC" property="jobDesc" jdbcType="VARCHAR"/>
        <result column="JOB_STATUS" property="jobStatus" jdbcType="VARCHAR"/>
        <result column="METHOD_NAME" property="methodName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, JOB_NAME, JOB_GROUP, CRON_EXPRESSION, CLASS_NAME,METHOD_NAME,JOB_DESC, JOB_STATUS
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from TIMERJOB
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectUsed" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from TIMERJOB
        WHERE JOB_STATUS='RUN'
    </select>
    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from TIMERJOB
        ORDER BY JOB_NAME
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TIMERJOB
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insertSelective" parameterType="com.model.TimerJob">
        insert into TIMERJOB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="jobName != null">
                JOB_NAME,
            </if>
            <if test="jobGroup != null">
                JOB_GROUP,
            </if>
            <if test="cronExpression != null">
                CRON_EXPRESSION,
            </if>
            <if test="className != null">
                CLASS_NAME,
            </if>
            <if test="methodName != null">
                METHOD_NAME,
            </if>
            <if test="jobDesc != null">
                JOB_DESC,
            </if>
            <if test="jobStatus != null">
                JOB_STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobGroup != null">
                #{jobGroup,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="jobDesc != null">
                #{jobDesc,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus != null">
                #{jobStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.model.TimerJob">
        update TIMERJOB
        <set>
            <if test="jobName != null">
                JOB_NAME = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobGroup != null">
                JOB_GROUP = #{jobGroup,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                CLASS_NAME = #{className,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                METHOD_NAME = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="jobDesc != null">
                JOB_DESC = #{jobDesc,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus != null">
                JOB_STATUS = #{jobStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>